ul li{
  list-style-type: none;
  display: inline-block;
}

ul li .links{
  text-decoration: underline;
}
body {
  padding-bottom: 5rem;
}
header {
  background: url(../images/background-image.jpeg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
  opacity: 0.9;
}
h1 {
  margin: 3rem auto 3rem auto;
  font-size: 8rem;
  color: #ffffff;
  opacity:0.9;
  font-weight: bold;
  transform: translate(0,13rem);

}

.slogan {
    margin: 0 auto 0 auto;
    color: #ffffff;
    opacity:0.7;
    font-weight: lighter;
    font-size: 1.6rem;
    transform: translate(-3rem,11.5rem);

}


main {
  max-width: 900px;
}
.project-description {
  padding-left: 0;
}
.project img {
  width: 100%;
}
footer.mdl-mini-footer {
  bottom: 0;
  position: fixed;
  height: 0.5rem;
  width: 100%;
  z-index: 1;
}
footer.mdl-mini-footer > ul {
   margin: auto;
   font-size: 2rem;
}
@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
